# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.code-workspace

# Lua/WoW temp or backup files
*.bak
*.tmp
*.orig
*.rej

# Archives/build artifacts
*.zip
dist/
build/
