name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  package-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build and Publish
        uses: BigWigsMods/packager@v2
        with:
          args: -p ${{ vars.CURSE_PROJECT_ID }}
        env:
          CF_API_KEY: ${{ secrets.CF_API_KEY }}
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
